{% extends 'split_check_template.html' %}

{% block heading%}7{% endblock %}

{% block body %}

<form action="7" method="post">
    <h2>Enter check total (including tax and tip):</h2>
    <input type="text" name="check-total7" >

    <h2>Enter check sub-total:</h2>
    <input type="text" name="check-sub-total7" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 1</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person71" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 2</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person72" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 3</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person73" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 4</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person74" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 5</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person75" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 6</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person76" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 7</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person77" >
    <h6> </h6>
    <input type="submit">
</form>

{% endblock %}
