{% extends 'split_check_template.html' %}

{% block heading%}8{% endblock %}

{% block body %}

<form action="8" method="post">
    <h2>Enter check total (including tax and tip):</h2>
    <input type="text" name="check-total8" >

    <h2>Enter check sub-total:</h2>
    <input type="text" name="check-sub-total8" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 1</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person81" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 2</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person82" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 3</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person83" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 4</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person84" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 5</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person85" >
    
    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 6</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person86" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 7</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person87" >
    <h6> </h6>

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 8</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person88" >
    <h6> </h6>
    <input type="submit">
</form>

{% endblock %}
