{% extends 'split_check_template.html' %}

{% block heading%}2{% endblock %}

{% block body %}

<form action="2" method="post">
    <h2>Enter check total (including tax and tip):</h2>
    <input type="text" name="check-total2" >

    <h2>Enter check sub-total:</h2>
    <input type="text" name="check-sub-total2" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 1</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person21" >

    <h6>---------------------------------------------------------------------------</h6>
    <h3> Person 2</h3>
    <h5>(Name, Order1, Order2,...)</h5>
    <input type="text" name="person22" >
    <h6> </h6>
    <input type="submit">
</form>


{% endblock %}
